[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
pylint = "*"
pipenv-to-requirements = "*"

[packages]
sqlalchemy = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
starlette = "*"
gunicorn = "*"
pymysql = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
